@page {
    size: auto;
    margin: 0mm;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
}

.span {
    width: 140px;
    margin-top: 30px;
    margin-left: 50px;
    font-family: Arial;
    padding-bottom:2px;
    text-align: center;
    border-bottom :1px solid black;
}

.span2 {
    width: 100%;
    font-family: Arial;
    text-align: center;
    border-bottom :1px solid black;
}

.span2a {
    width: 7%;
    float: left;
    text-align: left;
    font-family: Arial;
}

.span2b {
    width: 93%;
    float: right;
    font-family: Arial;
    padding-left: -20px;
    text-align: center;
    border-bottom :1px solid black;
}

.span3 {
    width: 100%;
    border-bottom :1px solid black;
}

.span4 {
    width: 120px;
    font-family: Arial;
    border-bottom: 1px solid black;
}

.pdate {
    font-size: 14px;
    font-family: Arial;
    padding-top: -15px;
    margin-left: 105px;
}

.title1 {
    font-size: 26px;
    margin-top: 40px;
    font-weight: bold;
    text-align: center;
    font-family: Arial;
}

.title2 {
    padding-top: -28px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    font-family: Arial;
}

.body {
    font-family: Arial;
    font-size: 16px;
}

.marg {
    margin-left: 25px;
    margin-right: 25px;
}

.des {
    font-size: 16px;
    font-weight: bold;
    padding-top: -15px;
    font-family: Arial;
    text-align: center;
}

.fdiv {
    width: 100%;
    margin-top: 50px;
    margin-left: 320px;
}

.app {
    font-weight: bold;
    font-family: Arial;
    margin-left: 400px;
}

.trans {
    padding-top: -5px;
    padding-right: -45px;
    text-align: right;
    font-size: 9px;
    font-family: Arial, "Arial", Helvetica, sans-serif;
}

.footerA {
    background-color: silver;
    word-spacing: 1.5px;
    font-size: 14.5px;
    font-weight: bold;
    text-align: center;
}

.footerB {
    padding-top: -10px;
    font-size: 13.5px;
    text-align: center;
    font-family: Arial;
}